.bookTicketPage{
    margin-top: 7.5vh;
}
.bookTicketTitle{
    height: 7vh;
    width: 100%;
    background-color: var(--cream-color);
    font-size: xx-large;
    position: sticky;
    top: 7.5vh;
    z-index: 5;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.showDetailSelectionContainer{
    display: flex;
    width: 100%;
    height: 78vh;
    
}
.showOptionsSelection{
    width: 35%;
    height: 100%;
}
.showOptionsSelection form{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: larger;
    margin-left: 5%;
    max-width: 400px;
}
.showOptionsSelection form label{
    margin-top: 12px;
    margin-bottom: 5px;
}
.showOptionsSelection form select, .showOptionsSelection form select option {
    height: 30px;
    cursor: pointer;
}
 
