.headerContainer{
    display: flex;
    height: 7.5vh;
    width: 100vw;
    flex-direction: row;
    position: fixed;
    background-color: #fbf8f8;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid black;
}
.logo{
    height: 100%;
    width: 20%;
    min-width: 240px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 100%;
    width: 30%;
}
.logo p{
    font-size: xx-large;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--golden-color);
    text-emphasis: bolder;
}

.navbar{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navOption svg{
    vertical-align: middle;
}

.navOption span{
    vertical-align: bottom;
    font-size: large;
}

.navOption a {
    text-decoration: none;
    color: black;
}
.activePage{
    background-color: var(--golden-color);
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
}
.navOption a:hover{
    opacity: 0.66;
}

.navRight{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 25%;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
}

.navRight * Button {
    border: 1px solid black;
    text-transform: none;
    color: black;
}
.navRight .searchIcon Button {
    border-radius: 0px;
}
.navRight .Location Button {
    background-color: var(--grey-color);
}
.navRight .profile Button {
    background-color: var(--cream-color);
}
.searchBox{
    display: flex;
    width: 230px;
}
.searchIcon{
    display: flex;
}
.smallScreens{
    display: none;
}
.menu{
    
}
.close{
    justify-content: end;
    align-items: flex-end;
}
.close svg{
    color: white;
}
.close Button{
    background-color: red;
}
.menuItems{
    margin-top: 15px;
    list-style: none;
    background-color: white;
    width: 200px;
    padding: 0;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.menuItems li a{
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 5px;
    margin: 30px;
    border-radius: 7px;
    text-align: top;
}
.menuItems li{
    border-radius: 15px;
}
.menuItems li:hover{
    background-color: var(--grey-color);
}
.menuItems li:nth-child(1):hover{
    background-color: transparent;
}

@media only screen and (max-width: 1020px) {
    .navbar{
        display: none;
    }
    .smallScreens{
        display: block;
    }
    .navRight{
        width: auto;
        margin-left: auto;
    }
    .close , .menuItems{
        display: none;
    }



}

@media only screen and (max-width: 650px){
    .Location , .profile{
        display: none;
    }
    .navRight{
        min-width: 55px;
        margin-left: auto;
        justify-content: left;
    }
    .logo{
       margin-left: 0px;
       width: 190px;
       gap: 0px;
       justify-content: left;
       min-width: 190px;
    }
    .logo img{
        width: 60px;
    }
    .logo p{
        font-size: x-large;
    }
    .searchBox{
        display: flex;
        width: 100px;
    }
    .searchIcon Button{
        display: block;
        width: 5px;
    }
    .menuItems{
        min-width: none;
        width: 130px;
    }
    .menuItems li a{
        margin: 5px;
    }
}


