.headerContainer{
    display: flex;
    height: 7.5vh;
    width: 100vw;
    flex-direction: row;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}
.logo{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 100%;
    width: 30%;
}
.logo p{
    font-size: xx-large;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--golden-color);
    
}

.navbar{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navOption svg{
    vertical-align: middle;
}

.navOption span{
    vertical-align: bottom;
    font-size: large;
}

.navOption a {
    text-decoration: none;
    color: black;
}
.navOption a:hover{
    background-color: var(--grey-color);
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
}

.navRight{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
}

.navRight * Button {
    border: 1px solid black;
    text-transform: none;
    color: black;
}
.navRight .Location Button {
    background-color: var(--grey-color);
}
.navRight .profile Button {
    background-color: var(--cream-color);
}
.menu{
    display: none;
}

@media only screen and (max-width: 1399px) {
    .navbar{
        display: none;
    }
    .navRight{
        display: none;
    }
    .menu{
        display: block;
        margin: auto;
    }
}