.home{
    height: 400vh;
    width: 100%;
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-subtle);
}
.slide {
    min-height: 50vh;
    width: 100%;
    color: white;
    display: flex;
}
.leftSideOfSlide{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    align-items: self-start;
    row-gap: 10px;
}
.posterTitle p{
    font-size: xx-large;
    font-weight: 600;
}
.rightSideOfSlide{
    width: 40%;
    height:100%;
    margin-left: auto;
}
  
.rightSideOfSlide img {
    height: 80%;
    width: 40%;
    border: 3px solid greenyellow;
    margin-top: 5%;
}

.homeNav{
    height: 10vh;
    background-color: var(--cream-color);
    align-items: center;
}
.homeNav a{
    color: black;
    text-decoration: none;
    margin-left: 5vw;
}

.nowShowing , .comingSoon{
    height: 160vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.nowShowingContainers , .comingSoonContainers{
    height: 48%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3%;

}
.nowShowingContainers img, .comingSoonContainers img{
    height: 66%;
    width: 70%;
}
.movieTitle p{
    font-weight: 600;
    text-transform: uppercase;
}
.movieRating{
    font-weight: 200;
}
.buttonColumn{
    max-height: 16%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonColumn Button{
    margin-right: 20px;
    color: black;
    font-weight: 700;
    border: 1px solid black;
    max-height: 100%;
    margin-bottom: 8px;
}
.buttonColumn Button:first-child{
    background-color: var(--golden-color);
}
.buttonColumn Button:hover{
    background-color: var(--grey-color);
}

.trailers{
    height: 50vh;
    border: 5px solid red;
}